# dépendances et builds
node_modules
dist

# environnement local
.env
.dev-config.json

# généré
src/config/.type

# tests
tests/output
playwright-report
test-results

# logs
*.log

# éditeurs
.idea
*.sw?
